@font-face {
  font-family: 'Starjhol';
  src: local('Starjhol'), url('./assets/fonts/Starjhol.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather'),
    url('./assets/fonts/MerriweatherSans-VariableFont_wght.ttf') format('truetype');
}
